<div class="flex justify-around">
    <div>
        {% if artist.is_temp_artist %}
            {{artist.name}}
        {% else %}
            <a href="{% url 'findshows:view_artist' artist.pk %}"> {{artist.name}} </a>
        {% endif %}
    </div>
    <div>
        {% if artist.socials_links %}
            {% for link in artist.socials_links %}
                <a href="{{link.1}}" target="_blank">{{link.0}}</a>
            {% endfor %}
        {% endif %}
    </div>
    {% include "findshows/htmx/mod_artist_buttons.html" %}
    {% if is_admin %}
        <a href="{% url 'admin:findshows_artist_change' artist.pk %}">Admin edit</a>
    {% endif %}
</div>
