{% comment %}
A re-usable button + modal for creating records with forms.
On successful create, it raises the event modal-form-success, with the properties:
  created_record_name
  created_record_id

Parameters:
  title_text: the text displayed on the button, and as the title of the modal
  success_text: the text displayed below the button on success
  form_html: path to the html for the form
  htmx_url_name: name of the URL (from urls.py)

EXAMPLE:
To consume:
    <div @modal-form-success="on_temp_artist_create">
        {% with title_text="Invite Artist" success_text="Invite sent successfully!" form_html="findshows/htmx/temp_artist_form.html" htmx_url="findshows:create_temp_artist" %}
            {% include "findshows/partials/modal_form.html" %}
        {% endwith %}
    </div>

And in your alpine data definitions:
    on_temp_artist_create(event) {
        name = event.detail.created_record_name
        id = event.detail.created_record_id
        //further processing
    }

modal based on https://alpinetoolbox.com/examples/modal
{% endcomment %}

<div x-data="modal_form_data()"
     @keydown.escape="close_modal()"
     x-cloak
>

    <button type="button" class="bg-transparent border border-gray-500 hover:border-indigo-500 text-gray-500 hover:text-indigo-500 font-bold py-2 px-4 rounded-full" @click="open_modal()">
        {{ title_text }}
    </button>
    <div x-show="show_success">
        {{ success_text }}
    </div>

    <!--Overlay-->
    <div class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="show_modal" :class="{ 'absolute inset-0 z-10 flex items-center justify-center': show_modal }">
        <!--Dialog-->
        <div class="bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg py-4 text-left px-6" x-show="show_modal" @click.away="close_modal()">

            <!--Title-->
            <div class="flex justify-between items-center pb-3">
                <p class="text-2xl font-bold"> {{ title_text }}</p>
                <div class="cursor-pointer z-50" @click="close_modal()">
                    <svg class="fill-current text-black" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                    </svg>
                </div>
            </div>

            <!-- content -->
            <div class= "modal-form flex flex-col">
                {% include form_html %}
            </div>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button type="button" class="px-4  p-3 bg-transparent rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400" @click="close_modal()">Close</button>
                <button type="button" class="px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400 mr-2"
                        hx-post="{% url htmx_url %}"
                        hx-trigger="click,load"
                        hx-target="previous .modal-form"
                        @modal-form-success="on_successful_create"
                >Submit</button>
            </div>


        </div>
        <!--/Dialog -->
    </div><!-- /Overlay -->

</div>

<script>
 function modal_form_data() {
     return {
         show_modal: false,
         show_success: false,

         open_modal() {
             this.show_modal = true;
             this.show_success = false;
         },

         close_modal() {
             this.show_modal = false;
         },

         on_successful_create() {
             this.show_success = true;
             this.close_modal();
         }
     }
 }
</script>
