{% comment %}
A re-usable button + modal for creating records with forms.
On successful create, it raises the event modal-form-success, with the properties:
  created_record_name
  created_record_id

Parameters:
  title_text: the text displayed on the button, and as the title of the modal
  success_text: the text displayed below the button on success
  form_html: path to the html for the form
  htmx_url: name of the URL (from urls.py)
  htmx_param: any parameters to send the URL

EXAMPLE:
To consume:
    <div @modal-form-success="on_temp_artist_create">
        {% with title_text="Invite Artist" success_text="Invite sent successfully!" form_html="findshows/htmx/temp_artist_form.html" htmx_url="findshows:create_temp_artist" %}
            {% include "findshows/partials/modal_form.html" %}
        {% endwith %}
    </div>

And in your alpine data definitions:
    on_temp_artist_create(event) {
        name = event.detail.created_record_name
        id = event.detail.created_record_id
        //further processing
    }

modal based on https://alpinetoolbox.com/examples/modal
{% endcomment %}

{% load static %}

<div class="w-full"
     x-data="modal_form_data()"
     @keydown.escape.window="close_modal()"
     x-cloak
>

    <button type="button" class="btn w-full" @click="open_modal()">
        {{ title_text }}
    </button>
    <div x-show="show_success">
        {{ success_text }}
    </div>

    <!--Overlay-->
    <div class="overflow-auto bg-gray-600/40" style="background-color: rgba(0,0,0,0.5)"
         x-show="show_modal"
         @keydown.enter.prevent
         :class="{ 'fixed inset-0 z-10 flex items-center justify-center': show_modal }">
        <!--Dialog-->
        <div class="modalform bg-background w-11/12 md:max-w-xl mx-auto shadow-lg py-4 text-left px-6"
             x-show="show_modal"
             x-trap.inert.noscroll="show_modal"
             @click.away="close_modal()"
        >

            <!--Title-->
            <div class="flex justify-between items-center pb-3">
                <p class="text-2xl font-bold"> {{ title_text }}</p>
                <div class="cursor-pointer z-50" @click="close_modal()">
                    <svg class="fill-current text-black" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                    </svg>
                </div>
            </div>

            <!-- content -->
            <div class="modal-form flex flex-col">
                {% include form_html %}
            </div>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button type="button" class="btn" @click="close_modal()">Close</button>
                <button type="button" class="btn"
                        {% if htmx_param %}
                            hx-post="{% url htmx_url htmx_param %}"
                        {% else %}
                            hx-post="{% url htmx_url %}"
                        {% endif %}
                        hx-trigger="click,load,keyup[keyCode==13] from:closest .modalform"
                        hx-target="previous .modal-form"
                        @modal-form-success="on_successful_create"
                >Submit</button>
            </div>


        </div>
        <!--/Dialog -->
    </div><!-- /Overlay -->

</div>

<script src='{% static "findshows/js/modal_form_data.js" %}'></script>
