<div class="flex items-center bg-gray-200 rounded-full m-1">
    <div class="min-w-14 max-w-20 ml-2 mr-2"
         {% if dynamic %}
         x-text='musicbrainz_artist.name'
         {% endif %}
    >
        {% if not dynamic %}
            {{musicbrainz_artist.name}}
        {% endif %}
    </div>
    {% if dynamic %}
        <div class="cursor-pointer" @click="remove_artist(index)">
            <svg class="fill-current text-black" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
        </div>
    {% endif %}

</div>
