<div class="flex items-center p-1 min-h-12 relative"
>
    <svg class="rough-bg-musicbrainz-card h-full w-full absolute -z-0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio='none'></svg>
    <div class="m-1 ml-2 z-10" {{ dynamic|yesno:"x-text=musicbrainz_artist.name," }}>
        {% if not dynamic %}
            {{musicbrainz_artist.name}}
        {% endif %}
    </div>
    {% if dynamic %}
        <div class="w-fit self-start pt-1 z-10">
            <svg class="clickable-svg fill-current"
                 @click="remove_artist(index)"
                 width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
        </div>
    {% endif %}

</div>
