{% if not always_inline %}
<div
    class="text-xs @max-md:hidden
    {% if relevant_names %}
    text-highlight-text font-bold"
    title="Similar to {{relevant_names}}"
    {% else %}
    text-gray-600"
    {% endif %}
    >
    {{name}}
</div>
{% endif %}

<span
    class="text-xs {{ always_inline|yesno:' ,@md:hidden' }}
    {% if relevant_names %}
    text-highlight-text font-bold"
    title="Similar to {{relevant_names}}"
    {% else %}
    text-gray-600"
    {% endif %}
    >
    {{name}}{% if not is_last %}, {% endif %}
</span>
