{% extends "localmusic/base.html" %}

{% block content %}
    <div class="p-3">
        <h1>Create an account</h1>
        <form method="post" action="{% url 'create_account' %}">
            {% csrf_token %}

            <div class="flex max-md:flex-col">
                <div class="flex flex-col md:w-1/2">
                    {% for field in user_form %}
                        <div class="fieldgroup">
                            {{ field.as_field_group }}
                        </div>
                    {% endfor %}
                    <div class="fieldgroup">
                        Send info about making an artist page and listing shows?
                        <input type="checkbox" name="sendartistinfo">
                    </div>
                </div>

                <div class="flex flex-col md:w-1/2">
                    {% for field in profile_form %}
                        <div class="fieldgroup">
                            {{field.as_field_group}}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div>
                <input class="btn block w-50 mx-auto mt-5" type="submit" value="Create account">
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
