{% extends "localmusic/small_page.html" %}

{% block small_content %}
    {% if validlink %}
        <h1 class="text-center">Reset Password</h1>
        <p class="pb-3">Please enter (and confirm) your new password.</p>
        <form class="flex flex-col items-center" action="" method="post">
            {% csrf_token %}
            <div class="fieldgroup w-full max-w-md">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                <div class="textinput-wrapper">{{ form.new_password1 }}</div>
            </div>
            <div class="fieldgroup w-full max-w-md">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                <div class="textinput-wrapper">{{ form.new_password2 }}</div>
            </div>
            <input class="btn mx-auto my-2" type="submit" value="Change my password">
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p class="fieldgroup">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
