{% load static %}
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Title {% endblock %}</title>

        {# HTMX https://htmx.org/ #}
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        {# Alpine plugins (load BEFORE core)#}
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
        {# Alpine core https://alpinejs.dev/ #}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
        {# Rough.js #}
        <script src="https://unpkg.com/roughjs@latest/bundled/rough.js"></script>
        {# Tailwind https://tailwindcss.com/docs/transition-property #}
        <link rel="stylesheet" href="{% static 'findshows/tailwind.css' %}">

        {# necessary for Alpine to use x-cloak #}
        <style>
         [x-cloak] {
             display: none;
         }
        </style>
    </head>
    <body class="font-mono">
        <div>
            {% include "./nav_bar.html" %}
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script>
     // Render all rough-* classes

     // Set up variables common to all functions (p is padding, d dimensions)
     function setup_svg(svg, p) {
         let rough_svg = rough.svg(svg);
         const d = svg.getBoundingClientRect();
         svg.setAttribute('viewBox', '0 0 ' + (d.width + 2*p) + ' ' + (d.height + 2*p));
         return [rough_svg, d]
     }

     ////////////////////////////////////
     // All individual shape functions //
     ////////////////////////////////////
     function rough_border_rect(svg) {
         p = 10
         let [rough_svg, d] = setup_svg(svg, p)

         svg.appendChild(rough_svg.rectangle(p, p, d.width, d.height, {
             roughness: 5,
             strokeWidth: 2,
         }));
     }

     // Dict that maps class names to shape functions
     const rough_cls_2_fnc = {
         'rough-border-rect': rough_border_rect,
     }

     // Set up listener; fires for initial page load on body, as well as any new
     // element that htmx inserts. Any given element will be checked once and only
     // once for each class name.
     htmx.on("htmx:load", function(evt) {
         for (const cls in rough_cls_2_fnc) {
             for (svg of evt.detail.elt.getElementsByClassName(cls)) {
                 rough_cls_2_fnc[cls](svg);
             }
         }
     });
    </script>

</html>
