{% load static %}
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Title {% endblock %}</title>
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="{% static 'findshows/tailwind.css' %}">
    </head>
    <body>
        <div>
            {% include "./nav_bar.html" %}
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
