{% load static %}
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Title {% endblock %}</title>

        {# HTMX https://htmx.org/ #}
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        {# Alpine plugins (load BEFORE core)#}
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
        {# Alpine core https://alpinejs.dev/ #}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
        {# Tailwind https://tailwindcss.com/docs/transition-property #}
        <link rel="stylesheet" href="{% static 'findshows/tailwind.css' %}">

        {# necessary for Alpine to use x-cloak #}
        <style>
         [x-cloak] {
             display: none;
         }
        </style>
    </head>
    <body>
        <div>
            {% include "./nav_bar.html" %}
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
