{% load findshows_tags %}

<div class="flex justify-between h-10">
    <div>
        <a href="{% url 'findshows:home' %}">{% custom_text 'ST' %}</a>
    </div>
    <div class="flex justify-between space-x-5">
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Admin site</a>
        {% endif %}
        {% if user.userprofile.is_mod %}
            <a href="{% url 'findshows:mod_dashboard' %}">Mod dashboard</a>
        {% endif %}
        {% if user.userprofile.managed_artists.all|length > 0 %}
            <a href="{% url 'findshows:my_concert_list' %}">My shows</a>
            <a href="{% url 'findshows:managed_artist_list' %}">Artist profile</a>
        {% endif %}
        <a href="{% url 'findshows:user_settings' %}">Settings</a>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    </div>
</div>
<div class="banner">
    {% custom_text 'BR' %}
</div>
