@import 'tailwindcss';

@source inline('{grid-rows-,@2xs:grid-cols-}{1..4}');

@theme {
  --color-background: #F9F9ED;
  --color-sub-background: #ebe7eb;

  --color-clickable: #9719ea;
  --color-clickable-h: #ea19af;

  /* --color-highlight-item: #187795; */
  /* --color-highlight-item-light: #b5d2d2; */
  /* --color-highlight-text: #187795; */

  --color-highlight-item: #0b607a;
  --color-highlight-item-light: #b5d2d2;
  --color-highlight-text: #0b607a;


  --font-body: "LeagueMono";

  --breakpoint-sidebar-bp: 1120px;
  --breakpoint-xs: 30rem;
}

@font-face {
  font-family: "LeagueMono";
  src:
    url("LeagueMono/LeagueMono.ttf"),
}

@layer base {
  h1 {
    @apply text-3xl mb-4;
  }

  h2 {
    @apply text-2xl mb-2;
  }

  .helptext {
    @apply text-xs font-light px-3 py-1;
  }

  .errorlist {
    @apply text-red-700;
  }

  label.required:before {
    content:"*";
    @apply text-highlight-item;
  }

}

@layer components {
  .link {
    @apply text-clickable hover:text-clickable-h font-semibold cursor-pointer;
  }

  .btn {
    @apply shadow-lg bg-clickable hover:bg-clickable-h cursor-pointer text-white m-0.5 p-2 w-fit h-fit text-center;
  }

  .textinput {
    @apply  m-0.5 p-1 border bg-white resize-none accent-clickable;
  }

  .textinput-wrapper > input {
    @apply m-0.5 p-1 border bg-white resize-none w-full;
  }

  .fieldgroup {
    @apply bg-sub-background mx-3 my-1 p-2;
  }

  .banner {
    @apply bg-highlight-item-light text-center my-1 py-2 w-11/12 mx-auto;
  }

  .menuitem {
    @apply even:bg-sub-background p-1 cursor-pointer;
  }

  .popup-menu {
    @apply z-50 border-1 border-highlight-item bg-background shadow-2xl;
  }

  .clickable-svg {
    @apply cursor-pointer hover:bg-sub-background text-clickable hover:text-clickable-h;
  }

  .select-wrapper {
    @apply w-full border bg-white grid items-center pr-2 z-0;
    grid-template-areas: "select";
  }

  .select-wrapper::after {
    @apply w-3 h-2 bg-clickable justify-self-end;
    content: "";
    grid-area: select;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

  .select-wrapper > select {
    @apply appearance-none outline-none bg-transparent z-10 w-full h-full cursor-pointer m-1;
    grid-area: select;
  }


}
