{% load static %}
{% load findshows_tags %}

<div class="flex flex-col items-center justify-center"
     x-data="bill_data()"
     x-init="bill_init({{widget.value}})" {# don't need |escapejs because it's already encoded as JSON? #}
     x-cloak>

    <div class="flex w-full flex-col">

        <input type="hidden" name="{{widget.name}}" :value="JSON.stringify(bill_order)">

        <ol id="bill-editor" class="w-full">
            <template x-for="(artist, idx) in bill_order" :key="idx">
                <li class="flex flex-col my-2"
                    x-init="$nextTick(() => htmx.process($el))"> {# necessary for any HTMX in an x-for #}
                  <div class="flex">
                    <div class="w-full max-w-md dropdown-container"
                         @focusin="open_dropdown(artist)"
                         @click.outside="close_dropdown(artist)"
                         @focusout.stop="if (!$el.contains($event.relatedTarget)) close_dropdown(artist)"
                         @keydown.arrow-up.prevent="arrowPress($event, 'up')"
                         @keydown.arrow-down.prevent="arrowPress($event, 'down')"
                    >
                        <input class="textinput w-full" type="search"
                               :class="(artist.search_text && !artist.id) ? 'not-focus:border-2 not-focus:border-red-700 not-focus:m-[1px]' : ''"
                               name="artist-search" placeholder="Select an artist..."
                               :title="`Artist ${bill_order.length - idx}`"
                               aria-describedby="{{ widget.attrs.id }}_helptext"
                               x-model="artist.search_text"
                               hx-get="{% url 'findshows:artist_search_results' %}"
                               :hx-vals="JSON.stringify({'idx': idx})"
                               hx-trigger="keyup changed delay:500ms"
                               @input.debounce.500ms="open_dropdown(artist)"
                               hx-target="next .artist-search-results"
                               @keydown.enter.prevent
                        >
                        <menu {# IMPORTANT no whitespace inside menu (css :empty selector hates whitespace)#}
                            class="absolute popup-menu artist-search-results min-w-56"
                            x-show="artist.show_search"
                            @click="close_dropdown(artist, $el.previousElementSibling)"
                            @keydown.enter.prevent="close_dropdown(artist, $el.previousElementSibling)"
                            @keydown.space.prevent="close_dropdown(artist, $el.previousElementSibling)"
                        >{% partialdef artist-search-results %}
                                {% for artist in artists %}
                                    <li class="menuitem hover:text-clickable-h"
                                        tabindex="-1"
                                        @click="select_artist({{idx|escapejs}}, '{{artist.name|escapejs}}', '{{artist.id|escapejs}}', {{artist.num_users|escapejs}})"
                                        @keydown.enter="select_artist({{idx|escapejs}}, '{{artist.name|escapejs}}', '{{artist.id|escapejs}}', {{artist.num_users|escapejs}})"
                                        @keydown.space="select_artist({{idx|escapejs}}, '{{artist.name|escapejs}}', '{{artist.id|escapejs}}', {{artist.num_users|escapejs}})">
                                        {{artist.name}}
                                    </li>
                                {% endfor %}
                                <li class="menuitem bg-clickable/50 hover:bg-clickable-h/50"
                                    tabindex="-1"
                                    @click="open_create_artist_modal(idx)"
                                    @keydown.enter="open_create_artist_modal(idx)"
                                    @keydown.space="open_create_artist_modal(idx)">
                                    + New artist
                                </li>
                            {% endpartialdef artist-search-results %}</menu>
                    </div>

                    <div class="flex justify-around w-21 ml-2">
                        {# Up arrow #}
                        <button type="button"
                                :title="`Move ${artist.name || 'blank slot'} up on the bill`"
                                @click="move_artist(idx, -1)"
                                @keydown.enter.prevent="move_artist(idx, -1)">
                            <svg class="clickable-svg fill-current w-7"
                                 aria-hidden="true"
                                 viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.504 26.025l.001-14.287 6.366 6.367L26 15.979 15.997 5.975 6 15.971 8.129 18.1l6.366-6.368v14.291z"/>
                            </svg>
                        </button>
                        {# Down arrow #}
                        <button type="button"
                                :title="`Move ${artist.name || 'blank slot'} down on the bill`"
                                @click="move_artist(idx, 1)"
                                @keydown.enter.prevent="move_artist(idx, 1)">
                            <svg class="clickable-svg fill-current w-7"
                                 aria-hidden="true"
                                 viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.496 5.975l-.001 14.287-6.366-6.367L6 16.021l10.003 10.004L26 16.029 23.871 13.9l-6.366 6.368V5.977z"/>
                            </svg>
                        </button>
                        {# Remove button #}
                        <button type="button"
                                :title="`Remove ${artist.name || 'blank slot'} from the bill`"
                                @click="remove_artist(idx)"
                                @keydown.enter.prevent="remove_artist(idx)">
                            <svg class="clickable-svg fill-current w-7 stroke-3"
                                 aria-hidden="true"
                                 viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                            </svg>
                        </button>
                    </div>
                  </div>
                 {% partialdef copy-invite-link inline %}
                  <button x-show="artist.id && !artist.num_users && !artist.invite_link"
                          type="button"
                          class="w-fit max-w-md m-1 ml-3 text-xs link text-left"
                          hx-post="{% url 'findshows:get_invite_link' %}"
                          hx-params="csrfmiddlewaretoken,artist_id"
                          :hx-vals="JSON.stringify({'artist_id': artist.id})"
                          hx-swap="innerHTML"
                          hx-target="next .htmx-err-msg"
                          @invite-link-loaded="artist.invite_link=$event.detail.invite_link;navigator.clipboard.writeText(artist.invite_link)"
                  >
                      Copy invite link
                  </button>
                  <button x-show="artist.id && !artist.num_users && artist.invite_link"
                          type="button"
                          class="w-fit max-w-md m-1 ml-3 text-xs link text-left"
                          @click="navigator.clipboard.writeText(artist.invite_link)">
                      Invite link copied! Valid for {{ expiration_days }} days.
                  </button>
                  <div class="htmx-err-msg errorlist text-xs pl-3 max-w-md"></div>
                 {% endpartialdef copy-invite-link %}
                </li>
            </template>
        </ol>
        <div class="mr-23">
            <button type="button"
                    class="textinput w-full max-w-md hover cursor-pointer bg-clickable/50 hover:bg-clickable-h/50"
                    x-ref="add-set"
                    @click="add_artist()">
                + Add set
            </button>
            <div class="helptext" x-show="bill_order.some((a) => a.id && !a.num_users);">
                At least one artist hasn't filled out a profile&mdash;please consider
                sending them an invite link. It adds details to the concert and helps the
                site grow. Thanks!
            </div>
        </div>

    </div>

    <div @modal-form-success="on_temp_artist_create">
        {% modal_form title="New artist"  htmx_url="findshows:create_temp_artist" id="create-artist-modal" %}
            {% partialdef temp-artist-form %}
                <div class="flex flex-col fieldgroup">
                    {{ temp_artist_form.name.as_field_group }}
                </div>
                <div class="fieldgroup">
                    {{ temp_artist_form.local.as_field_group }}
                </div>
            {% endpartialdef temp-artist-form %}
        {% endmodal_form %}
    </div>
</div>

<script src='{% static "findshows/js/bill_data.js" %}'></script>
