<table class="mt-2">
    <tr>
        <th class="font-light text-lg"> Display name </th>
        <th class="font-light text-lg w-full"> URL </th>
    </tr>
    {% for display_name, url in widget.socials_links %} {# num_links is included in data prep (fill w empty strings) #}
        <tr>
            <td> <input class="textinput" name="{{widget.name}}_display_name" type="text" value="{{ display_name }}"> </td>
            <td> <input class="textinput w-full" name="{{widget.name}}_url" type="text" value="{{ url }}"> </td>
        </tr>
    {% endfor %}
</table>
