{% load static %}

<div class="flex items-center"
     x-data="venue_picker_data('{{widget.value|escapejs}}', '{{widget.venue.name|escapejs}}', {{widget.venue.is_verified|yesno:"true,false"}}, {{widget.venue.declined_listing|yesno:"true,false"}} )"
     x-cloak>

    <input type="hidden" name="{{widget.name}}" :value="selected_venue_id">

    <div class="grow p-2"
         x-ref="venue-search-plus-dropdown"
         @focusin="open_dropdown()"
         @click.outside="close_dropdown()"
    >
        <input class="textinput w-full" type="search"
               name="venue-search" placeholder="Select a venue..."
               x-model="search_text"
               hx-get="{% url 'findshows:venue_search_results' %}"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#venue-search-results"
        >

        <ul id="venue-search-results"
            class="absolute popup-menu"
            x-show="show_search"
            @click="close_dropdown()"
            style="display: none;"
        >
        </ul>

        <div x-show="selected_venue_name && (!selected_venue_is_verified)" class="text-sm">
            This venue has not yet been verified; the show will be listed
            after verification is complete.
        </div>

        <div x-show="selected_venue_declined_listing" class="text-sm">
            This venue has declined to be listed on this website. This might
            be opted for by a DIY venue that has safety, capacity, or other
            concerns. Thanks for your understanding!
        </div>

    </div>

    <div class="w-32" @modal-form-success="on_venue_create">
        {% with title_text="New Venue" success_text="Venue created successfully!" form_html="findshows/htmx/venue_form.html" htmx_url="findshows:create_venue" %}
            {% include "findshows/partials/modal_form.html" %}
        {% endwith %}
    </div>

</div>

<script src='{% static "findshows/js/venue_picker_data.js" %}'></script>
