{% load static %}

{% if in_place %}
    <form type="post" class="outer-swap min-w-[32px]"
          hx-on::after-settle="event.detail.elt.getElementsByTagName('button')[0].focus()">
        {% csrf_token %}
        <button
             hx-trigger="click"
             hx-target="closest .outer-swap"
             hx-swap="outerHTML"
          {% if is_followed %}
             aria-label="Unfollow {{ artist.name }}"
             title="Unfollow"
             hx-post="{% url 'findshows:unfollow_artist_htmx' artist.pk %}"
          {% else %}
             aria-label="Follow {{ artist.name }}"
             title="Follow"
             hx-post="{% url 'findshows:follow_artist_htmx' artist.pk %}"
          {% endif %}>
            <img aria-hidden="true"
                 class="cursor-pointer w-8 h-8 rounded-full hover:bg-highlight-item-light"
              {% if is_followed %}
                 src="{% static 'findshows/follow-star-filled.svg' %}"
              {% else %}
                 src="{% static 'findshows/follow-star-empty.svg' %}"
              {% endif %}/>
        </button>
    </form>
{% else %}
    <a class="flex link text-lg text-center m-3 p-2 rough-bg
              before:bg-highlight-item-light before:rounded-full
              before:border-2 before:border-clickable hover:before:border-clickable-h"
       {% if is_followed %}
       href={% url 'findshows:unfollow_artist' artist.pk %}
       {% else %}
       href={% url 'findshows:follow_artist' artist.pk %}
       {% endif %}
    >
        {% if is_followed %}
            <img title="Unfollow" src="{% static 'findshows/follow-star-filled.svg' %}"/>
        {% else %}
            <img title="Follow" src="{% static 'findshows/follow-star-empty.svg' %}"/>
        {% endif %}
    </a>
{% endif %}
