<div class="flex items-center p-1 m-1 ml-2 min-h-12
            rough-bg before:border-2 before:bg-highlight-item-light"
     {{ dynamic|yesno:":id=musicbrainz_artist.mbid," }}
>
    <div class="m-1 ml-2" {{ dynamic|yesno:"x-text=musicbrainz_artist.name," }}>
        {% if not dynamic %}
            {{musicbrainz_artist.name}}
        {% endif %}
    </div>
    {% if dynamic %}
        <div class="w-fit self-start pt-1">
            <button type="button"
                    :aria-label="`Remove ${musicbrainz_artist.name} from search`"
                    @click="remove_artist(index)"
                    @keydown.enter.prevent="remove_artist(index)"
            >
                <svg class="clickable-svg fill-current w-5 stroke-3"
                     aria-hidden="true"
                     viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
            </button>
        </div>
    {% endif %}

</div>
