{% load mjml %}

{% mjml %}
<mjml>
    <mj-head>
        <mj-title>{{ SITE_TITLE }}</mj-title>
        <mj-preview>{{ email_header }}</mj-preview>
        <mj-attributes>
            <mj-text align="left" font-family="Courier New" font-size="20px"/>
        </mj-attributes>
        <mj-style>
            a {
              color: #9719ea;
              text-decoration: inherit;
              font-weight: bold;
            }
            a:hover {
              color: #ea19af;
            }
            h2 {
              margin: 10px 0;
            }
            h3 {
              margin: 0;
            }
        </mj-style>
        <mj-raw>
            <meta name="color-scheme" content="light">
            <meta name="supported-color-schemes" content="light">
        </mj-raw>
    </mj-head>

    <mj-body width="800px" background-color="#F9F9ED">
        {# Header #}
        <mj-section padding="10px"></mj-section>
        <mj-section background-color="{{ bg_section }}">
            <mj-column>
                <mj-text align="center" font-size="26px">
                    <a href={{ SITE_LINK }}>{{ SITE_TITLE }}</a>
                </mj-text>
                <mj-text>{{ email_header }}</mj-text>
            </mj-column>
        </mj-section>

        {# Content #}
        {% block content %}
        {% endblock %}

    </mj-body>
</mjml>
{% endmjml %}
