<div id="concert-search" class="w-full flex max-sidebar-bp:flex-col"
     x-data="{'show_end_date': {{ search_form.is_date_range.value|lower }} }">

    <div
        hx-get="{% url 'findshows:concert_search' %}"
        hx-trigger="widget-update from:body delay:.1s"
        hx-include="#search-form"
        hx-target="#concert-search"
        hx-swap="outerHTML"
    ></div>
    {# Search form #}
    <form method="GET" action="" id="search-form" class="flex sidebar-bp:flex-col sidebar-bp:w-1/5 jusify-between">
        <div class="flex flex-col fieldgroup min-w-52">
            {{ search_form.date.as_field_group }}
            <div x-show="show_end_date">
                {{ search_form.end_date.as_field_group }}
            </div>
            <div x-show="!show_end_date" @click="show_end_date=true" class="link text-xs">
                Date range
            </div>
            <div x-show="show_end_date" @click="show_end_date=false;$dispatch('widget-update')" class="link text-xs">
                Hide date range
            </div>
            <input type='hidden' :value='show_end_date' name='is_date_range'>
        </div>
        <div class="flex flex-col fieldgroup">
            {{ search_form.musicbrainz_artists.as_field_group }}
        </div>
        <div class="flex flex-col fieldgroup min-w-48">
            {{ search_form.concert_tags.as_field_group }}
        </div>
    </form>

    {# Search results #}
    {% if not initial %}
        <div class="flex flex-col w-full">
            {% for concert in concerts  %}
                {% include "../partials/concert_card.html" %}
            {% empty %}
                <div class="flex h-full flex-col justify-around text-center text-gray-800">
                    No results; try modifying your search.
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
