<div>
    <h2 class="my-4"> Invites </h2>
    {% for ali in artist_linking_infos %}
        <div class="flex justify-around">
            <div>
                {{ ali.invited_email }}
            </div>
            <div>
                {{ ali.artist }}
            </div>
            <div>
                {% include "findshows/htmx/mod_resend_invite_button.html" %}
            </div>
            {% if is_admin %}
                <a href="{% url 'admin:findshows_artistlinkinginfo_change' ali.pk %}">Admin edit</a>
            {% endif %}

        </div>
    {% empty %}
        <div>
            No outstanding invites.
        </div>
    {% endfor %}
</div>
