{% extends "localmusic/base.html" %}

{% block content %}
    <h1 class="pl-3 mb-1"> Edit Artist </h1>
    {% if is_temp_artist %}
        <div class="banner my-0">
            NOTE: This artist listing has not been filled out; Any concerts
            that include this artist will not be displayed publically
            until this form is completed.
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="{% url 'findshows:edit_artist' pk %}">
        {% csrf_token %}
        <div>
            {{ form.non_field_errors }}
        </div>
        <div class="flex max-md:flex-col flex-none w-full h-full">
            <div class="md:w-1/2 flex flex-col">
                <div class= "flex flex-col fieldgroup">
                    {{ form.name.as_field_group }}
                </div>
                <div class= "flex flex-col fieldgroup">
                    {{ form.socials_links.as_field_group }}
                </div>
                <div class= "flex flex-col fieldgroup">
                    {{ form.listen_links.as_field_group }}
                </div>
                <div class= "flex flex-col fieldgroup">
                    {{ form.youtube_links.as_field_group }}
                </div>
            </div>
            <div class="md:w-1/2 flex flex-col">
                <div class= "flex flex-col fieldgroup">
                    {{ form.profile_picture.as_field_group }}
                </div>
                <div class= "flex flex-col fieldgroup">
                    {{ form.bio.as_field_group }}
                </div>
                <div class= "flex flex-col fieldgroup">
                    {{ form.similar_musicbrainz_artists.as_field_group }}
                </div>
                <div>
                    <input class="block btn w-full max-w-30 m-8 mx-auto" type="submit" value="Save">
                </div>
            </div>

        </div>
    </form>

    <form class="mx-auto max-w-80">
        {% csrf_token %}
        {% with title_text="Manage artist access" success_text="Artist access saved!" form_html="findshows/htmx/artist_access_form.html" htmx_url="findshows:manage_artist_access" htmx_param=pk %}
            {% include "findshows/partials/modal_form.html"%}
        {% endwith %}
    </form>

{% endblock %}
