{% extends "localmusic/base.html" %}
{% load findshows_tags %}
{% block content %}

{% if not user.is_authenticated %}
    <div class="banner">
        <a class="link" href="{% url 'create_account' %}">Create an account</a>
        to follow artists, sign up for a weekly email, or post shows!
    </div>
{% endif %}

<div class="p-3">
    <h1> Features </h1>
{% custom_text 'AI' as features_text %}
{% if features_text %}
    <div class="fieldgroup markdown text-left w-11/12 max-w-3xl p-6 mx-auto">
        {{ features_text }}
    </div>
{% else %}
    <div class="fieldgroup markdown text-left w-11/12 max-w-3xl p-6 mx-auto">
        This page has not been configured.
    </div>
{% endif %}
</div>

{% endblock %}
