{% extends "localmusic/base.html" %}

{% block content %}
    <div class="p-3">
        <h1> Mod Dashboard </h1>

        <div x-data="{selectedTab: '{{ query.date|yesno:'dailyDigest,actionRequired'}}'}"
            class="flex flex-wrap max-w-4xl fieldgroup items-center">

            {% for tab in tabs %}
                <button type="button" class="btn"
                        @mouseup="selectedTab='{{ tab.name }}'"
                        :class="selectedTab==='{{ tab.name }}' ? 'bg-highlight-item-light border-4 border-clickable font-semibold text-black shadow-none' : 'shadow-2xl border-transparent' "
                        hx-get="{% url tab.url_name %}"
                        {# default tab depends on query #}
                        {% if not query.date and tab.name == 'actionRequired' %}
                        hx-trigger="click,load"
                        {% elif query.date and tab.name == 'dailyDigest' %}
                        hx-trigger="click,load"
                        hx-vals='{"date": "{{query.date}}"}'
                        {% else %}
                        hx-trigger="click"
                        {% endif %}
                        hx-target="#mod-content"
                        hx-swap="innerHTML">
                    {{ tab.label }}
                </button>
            {% endfor %}

            <div class="basis-0 grow"></div>

            <form>
                {% csrf_token %}
                {% include "findshows/partials/invite_artist.html" %}
            </form>


        </div>

        <div class="p-3" id="mod-content"></div>

    </div>

{% endblock %}
