{% extends "localmusic/base.html" %}

{% block content %}
<div class="p-3">

    <form method="post" action="{% url 'findshows:user_settings' %}">
        {% csrf_token %}
        <div class="max-w-2xl mx-auto">
        <div class="flex flex-col items-center w-full">
            <h1> User Settings </h1>
            {% include "findshows/partials/user_settings_form.html" with wfull=True%}
            <input class="btn" type="submit" value="Save">
            <div class="w-80 mx-auto py-8">
                {% if not is_local_artist_account %}
                    {% with title_text="Request local artist access" success_text="Request submitted!" form_html="findshows/htmx/request_artist_form.html" htmx_url="findshows:request_artist_access" %}
                        {% include "findshows/partials/modal_form.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
        </div>
    </form>
</div>
{% endblock %}
