{% extends "localmusic/base.html" %}

{% block content %}
<div class="p-3">

    <form method="post" action="{% url 'findshows:user_settings' %}">
        {% csrf_token %}
        <div class="max-w-2xl mx-auto">
        <div class="flex flex-col items-center w-full">
            <h1> User Settings </h1>
            <div class="fieldgroup px-6">
                {{ user.email }}
            </div>
            {% include "findshows/partials/user_settings_form.html" with wfull=True%}
            <input class="btn" type="submit" value="Save">

            {% if not user.is_local_artist_account %}
            <a class="btn block w-80 mx-auto my-8" href="{% url 'findshows:create_artist' %}">
                Create artist page
            </a>
            {% endif %}
        </div>
        </div>
    </form>
</div>
{% endblock %}
