{% load static %}

<div class="flex flex-col items-center justify-center"
     x-data="bill_data()"
     x-init="bill_init({{widget.value}})" {# don't need |escapejs because it's already encoded as JSON? #}
     x-cloak>

    <div class="flex w-full p-2 h-full items-center">

        <input type="hidden" name="{{widget.name}}" :value="JSON.stringify(bill_order)">

        <ol id="bill-editor" class="w-full">
            <template x-for="(artist, idx) in bill_order" :key="idx">
                <li class="flex w-full max-w-lg justify-between my-2"
                    x-init="$nextTick(() => htmx.process($el))"> {# necessary for any HTMX in an x-for #}
                    <div class="w-full"
                         @focusin="open_dropdown(artist)"
                         @click.outside="close_dropdown(artist)"
                    >
                        <input class="textinput w-full" type="search"
                               id="artist-search-field"
                               name="artist-search" placeholder="Select an artist..."
                               x-model="artist.search_text"
                               hx-get="{% url 'findshows:artist_search_results' %}"
                               :hx-vals="JSON.stringify({'idx': idx})"
                               hx-trigger="keyup changed delay:500ms"
                               hx-target="next #artist-search-results"
                        >
                        <ul id="artist-search-results"
                            class="absolute popup-menu"
                            x-show="artist.show_search"
                            @click="close_dropdown(artist)"
                            style="display: none;"
                        >
                        </ul>
                    </div>

                    <div class="flex justify-around w-21">
                        {# Up arrow #}
                        <svg class="clickable-svg fill-current w-7"
                             viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                             @click="move_artist(idx, -1)">
                            <path d="M17.504 26.025l.001-14.287 6.366 6.367L26 15.979 15.997 5.975 6 15.971 8.129 18.1l6.366-6.368v14.291z"/>
                        </svg>
                        {# Down arrow #}
                        <svg class="clickable-svg fill-current w-7"
                             viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                             @click="move_artist(idx, 1)">
                            <path d="M14.496 5.975l-.001 14.287-6.366-6.367L6 16.021l10.003 10.004L26 16.029 23.871 13.9l-6.366 6.368V5.977z"/></svg>
                        {# Remove button #}
                        <svg class="clickable-svg fill-current w-7 stroke-3"
                             viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"
                             @click="remove_artist(idx)">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                        </svg>
                    </div>
                </li>
            </template>
            <li class="btn" @click="add_artist()"> Add set</li>
        </ol>
    </div>

    <div @modal-form-success="on_temp_artist_create">
        {% with title_text="Invite Artist" success_text="Invite sent successfully!" form_html="findshows/htmx/temp_artist_form.html" htmx_url="findshows:create_temp_artist" %}
            {% include "findshows/partials/modal_form.html" %}
        {% endwith %}
    </div>

</div>

<script src='{% static "findshows/js/bill_data.js" %}'></script>
