<div class="bg-gray-100 flex flex-col items-center justify-center"
     x-data="bill_data()"
     x-init="bill_init({{widget.value}})" {# don't need |escapejs because it's already encoded as JSON? #}
     x-cloak>

    <div class="flex w-full p-4 h-full items-center">

        <input type="hidden" name="{{widget.name}}" :value="JSON.stringify(bill_order)">

        <ol id="bill-editor" class="w-full">
            <template x-for="(artist, idx) in bill_order" :key="idx">
                <li class="flex w-full justify-between my-2"
                    x-init="$nextTick(() => htmx.process($el))"> {# necessary for any HTMX in an x-for #}
                    <div @focusin="open_dropdown(artist)"
                         @click.outside="close_dropdown(artist)"
                    >
                        <input class="" type="search"
                               id="artist-search-field"
                               name="artist-search" placeholder="Select an artist..."
                               x-model="artist.search_text"
                               hx-get="{% url 'findshows:artist_search_results' %}"
                               :hx-vals="JSON.stringify({'idx': idx})"
                               hx-trigger="keyup changed delay:500ms"
                               hx-target="next #artist-search-results"
                        >
                        <ul id="artist-search-results"
                            class="absolute"
                            x-show="artist.show_search"
                            @click="close_dropdown(artist)"
                            style="display: none;"
                        >
                        </ul>
                    </div>

                    <div class="flex justify-around">
                        <button type="button" @click="move_artist(idx, -1)">
                            Up
                        </button>
                        <button type="button" @click="move_artist(idx, 1)">
                            Down
                        </button>
                        <button type="button" @click="remove_artist(idx)">
                            Remove
                        </button>
                    </div>
                </li>
            </template>
            <li @click="add_artist()"> Add set</li>
        </ol>
    </div>

    <div @modal-form-success="on_temp_artist_create">
        {% with title_text="Invite Artist" success_text="Invite sent successfully!" form_html="findshows/htmx/temp_artist_form.html" htmx_url="findshows:create_temp_artist" %}
            {% include "findshows/partials/modal_form.html" %}
        {% endwith %}
    </div>

</div>

<script>
 function bill_data() {
     return {
         show_search: false,
         search_text: '',
         bill_order: [],

         bill_init(initial_widget_val) {
             this.bill_order = initial_widget_val;
             for (artist of this.bill_order) {
                 artist.show_search = false;
                 artist.search_text = artist.name;
             }
             if (!this.bill_order.length) this.add_artist();
         },

         open_dropdown(artist) {
             if (artist.show_search) return;
             artist.show_search = true;
         },

         close_dropdown(artist, focusAfter) {
             if (! artist.show_search) return;
             artist.show_search = false;
             if (artist.name) {
                 artist.search_text = artist.name;
             }
             focusAfter && focusAfter.focus();
         },

         select_artist(idx, selected_name, selected_id) {
             this.bill_order[idx].search_text = selected_name;
             this.bill_order[idx].name = selected_name;
             this.bill_order[idx].id = selected_id;
         },

         move_artist(idx, incr) {
             if (idx + incr > this.bill_order.length - 1 || idx + incr < 0) return;
             [this.bill_order[idx], this.bill_order[idx + incr]] = [this.bill_order[idx + incr], this.bill_order[idx]];
         },

         artist_from_args(name, id) {
             return {
                 'search_text': name,
                 'name': name,
                 'id': id,
                 'show_search': false
             }
         },

         add_artist(artist) {
             artist = artist || this.artist_from_args('','')
             this.bill_order.push(artist);
         },

         remove_artist(idx) {
             this.bill_order.splice(idx, 1);
         },

         on_temp_artist_create(event) {
             new_artist = this.artist_from_args(event.detail.created_record_name,
                                                event.detail.created_record_id)

             empty_idx = this.bill_order.findIndex(artist => artist.id === "");
             if (empty_idx === -1) {
                 this.add_artist(new_artist);
             }
             else {
                 this.bill_order[empty_idx] = new_artist
             }

         },
     }
 }
</script>
