{% load static %}

<div class="max-w-48 container py-1 relative"
     x-data="datePickerData({{ widget.allow_past_or_future }})"
     x-init="[initDate('{{ widget.value }}'), incrementCalDisplay(0)]"
     x-cloak
>
    <input type="hidden" name={{ widget.name }} :value="getWidgetReturnVal()">
    <input
        type="text"
        @click="showDatepicker = !showDatepicker"
        :value="getDisplayDate()"
        @keydown.escape="showDatepicker = false"
        class="textinput w-full cursor-pointer"
        placeholder="Select date"
        readonly>

    {# Popup menu #}
    <div class="popup-menu mt-12 w-64 p-4 absolute top-0 left-0"
         x-show.transition="showDatepicker"
         @click.away="showDatepicker = false">

        {# Header of date form #}
        <div class="flex justify-between items-center mb-2">
            <div>
                <span x-text="MONTH_NAMES[calMonth-1]" class="text-lg font-semibold"></span>
                <span x-text="calYear" class="ml-1 text-lg text-gray-600 font-normal"></span>
            </div>
            <div>
                <button
                    type="button"
                    class="clickable-svg transition ease-in-out duration-100 inline-flex p-1"
                    @click="incrementCalDisplay(-1)">
                    <svg class="h-6 w-6 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-width="2" d="M15 19l-7-7 7-7"/>
                    </svg>
                </button>
                <button
                    type="button"
                    class="clickable-svg transition ease-in-out duration-100 inline-flex p-1"
                    @click="incrementCalDisplay(1)">
                    <svg class="h-6 w-6 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </button>
            </div>
        </div>

        {# Grid of dates #}
        <div class="grid grid-cols-7 grid-flow-row -mx-1">
            <template x-for="day in DAYS">
                <div class="mb-1">
                    <div x-text="day" class="text-gray-800 font-medium text-center text-xs"></div>
                </div>
            </template>
            <template x-for="i in NumSpacesBeforeDays">
                <div ></div>
            </template>
            <template x-for="date in numDaysInMonth">
                <div class="px-1 mb-1">
                    <div
                        @click="onDateClick(date)"
                        x-text="date"
                        class="text-center text-sm leading-loose transition ease-in-out duration-100"
                        :class="{'text-gray-400': !isSelectable(date),
                                'bg-highlight-item-light cursor-pointer': isSelected(date),
                                'clickable-svg': isSelectable(date)&&(!isSelected(date)),
                                'font-bold': isToday(date)}"
                    ></div>
                </div>
            </template>
        </div>
    </div>
</div>
<script src='{% static "findshows/js/date_picker_data.js" %}'></script>
