<div id = "spotify-artist-chooser"
     x-data="spotify_artist_chooser_data({{ widget.artist_dicts }},{{ widget.max_artists }})"
     @keydown.escape.prevent.stop="close_dropdown()"
>
    <div class="flex flex-wrap">
        <template x-for="(spotify_artist, index) in selected_spotify_artists" :key="index">
            <div>
                {% include "../partials/spotify_card.html" with dynamic=True %}
                <input type='hidden' name='{{widget.name}}' :value='{{widget.is_ids_only|yesno:'spotify_artist.id,JSON.stringify(spotify_artist)'}}'>
            </div>
        </template>
    </div>

    <div x-ref="spotify-search-plus-dropdown"
         @focusin="open_dropdown()"
         @click.outside="close_dropdown()"
    >
            <input class="" type="search"
                   name="spotify-search" placeholder="Search Spotify artists..."
                   x-model="search_text"
                   hx-get="{% url 'findshows:spotify_artist_search_results' %}"
                   hx-trigger="keyup changed delay:500ms, click from:#search-results"
                   hx-target="#spotify-search-results"
            >

            <ul id="spotify-search-results"
                class="absolute"
                x-show="show_search"
                @click="close_dropdown()"
                style="display: none;"
            >
            </ul>
        </div>
</div>

<script>
 function spotify_artist_chooser_data(selected_spotify_artists, max_artists, is_ids_only) {
     return {
         show_search: false,
         search_text: '',
         selected_spotify_artists: selected_spotify_artists,

         open_dropdown() {
             if (this.show_search) return;
             this.show_search = true;
         },

         close_dropdown(focusAfter) {
             if (! this.show_search) return;
             this.show_search = false;
             focusAfter && focusAfter.focus();
         },

         add_artist(id, name, img_url) {
             if (this.selected_spotify_artists.length < max_artists && !this.selected_spotify_artists.some(a => a.id === id)) {
                 this.selected_spotify_artists.push({'id':id, 'name':name, 'img_url':img_url});
                 this.search_text = '';
             }
         },

         remove_artist(index) {
             this.selected_spotify_artists.splice(index, 1);
         }
     }
 }
</script>
