{% if link_code.email %} {# ArtistManagementInviteCode #}
<div class="mod-invite-button flex flex-col items-center"
     hx-on::after-settle="event.detail.elt.getElementsByTagName('p')[0].focus()">
    {% if success %}
        <p tabindex=0>
            Invite successfully sent!
        </p>
    {% else %}
        <form type="post">
            {% csrf_token %}
            <input class="btn"
                   type="button"
                   name="resend-invite"
                   hx-post="{% url 'findshows:resend_invite' link_code.id %}"
                   hx-trigger="click"
                   value="Resend invite"
                   hx-target="closest .mod-invite-button"
                   hx-swap="outerHTML"
            >
        </form>
        {% if errors %}
            <p class="errorlist max-w-sm" tabindex=0>
                {{ errors }}
            </p>
        {% endif %}
    {% endif %}
</div>
{% else %} {# ArtistInviteLinkCode #}
<div x-data="{'artist': {
               'id': '{{ link_code.artist.pk }}',
               'num_users': {{ link_code.artist.managing_users.count }},
               'invite_link': '{{ link_code.artist.invite_link }}',
             }}">
    <form>
        {% csrf_token %}
        {% include 'findshows/widgets/bill_widget.html#copy-invite-link' %}
    </form>
</div>
{% endif %}
