<div class="mod-invite-button flex flex-col items-center">
    {% if success %}
        Invite successfully sent!
    {% else %}
        <form type="post">
            {% csrf_token %}
            <input class="btn"
                   type="button"
                   name="resend-invite"
                   hx-post="{% url 'findshows:resend_invite' ali.id %}"
                   hx-trigger="click"
                   value="Resend invite"
                   hx-target="closest .mod-invite-button"
                   hx-swap="outerHTML"
            >
        </form>
        {% if errors %}
            <div class="errorlist max-w-sm">
                {{ errors }}
            </div>
        {% endif %}
    {% endif %}
</div>
