<div>
    <div class="text-lg"> Review outstanding invites. </div>
    <h2 class="my-4"> Invites </h2>
    {% if link_codes %}
        <table class="w-full text-center max-w-5xl fieldgroup p-5">
            <tr class="bg-highlight-item-light text-lg">
                <th> Artist name </th>
                <th> Invited by </th>
                <th> To email </th>
                <th> Actions </th>
                {% if user.is_staff %}
                    <th> Admin </th>
                {% endif %}
            </tr>

            {% for link_code in link_codes %}
                <tr class="odd:bg-white">
                    <td>
                        {{ link_code.artist }}
                    </td>
                    <td>
                        <div>{{ link_code.created_by.user.email }}</div>
                        <div class="text-xs text-gray-600">
                            ({{ link_code.created_by.get_artist_verification_status_display }})
                        </div>
                    </td>
                    <td>
                        {% if link_code.email%}
                            <a class="link" href="mailto:{{ link_code.email }}">{{ link_code.email }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% include "findshows/htmx/mod_resend_invite_button.html" %}
                    </td>
                    {% if user.is_staff %}
                        <td>
                            {% if link_code.email %}
                                <a class="link" href="{% url 'admin:findshows_artistmanagementlinkcode_change' link_code.pk %}">Admin edit</a>
                            {% else %}
                                <a class="link" href="{% url 'admin:findshows_artistinvitelinkcode_change' link_code.pk %}">Admin edit</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="ml-3">
            No outstanding invites.
        </div>
    {% endif %}
</div>
