<div>
    <div class="text-lg"> Review outstanding invites. </div>
    <h2 class="my-4"> Invites </h2>
    {% if artist_linking_infos %}
        <table class="w-full text-center max-w-5xl fieldgroup p-5">
            <tr class="bg-highlight-item-light text-lg">
                <th> Email </th>
                <th> Artist name </th>
                <th> Invited by </th>
                <th> Actions </th>
                {% if user.is_staff %}
                    <th> Admin </th>
                {% endif %}
            </tr>

            {% for ali in artist_linking_infos %}
                <tr class="odd:bg-white">
                    <td>
                        <a class="link" href="mailto:{{ ali.invited_email }}">{{ ali.invited_email }}</a>
                    </td>
                    <td>
                        {{ ali.artist }}
                    </td>
                    <td>
                        <div>{{ ali.created_by.user.email }}</div>
                        <div class="text-xs text-gray-600">
                            ({{ ali.created_by.get_artist_verification_status_display }})
                        </div>
                    </td>
                    <td>
                        {% include "findshows/htmx/mod_resend_invite_button.html" %}
                    </td>
                    {% if user.is_staff %}
                        <td>
                            <a class="link" href="{% url 'admin:findshows_artistlinkinginfo_change' ali.pk %}">Admin edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="ml-3">
            No outstanding invites.
        </div>
    {% endif %}
</div>
