{% load mjml %}
{% load findshows_tags %}

{% mjml %}
<mjml>
    <mj-head>
        <mj-title>{% custom_text 'ST' %}</mj-title>
        <mj-preview>{% custom_text 'EH' %}</mj-preview>
        <mj-attributes>
            <mj-text align="center" font-family="Courier New" font-size="17px"/>
        </mj-attributes>
        <mj-style>
            a {
              color: #9719ea;
              text-decoration: inherit;
              font-weight: bold;
            }
        </mj-style>
    </mj-head>

    <mj-body width="1000px" background-color="#F9F9ED">
        <mj-section>
            <mj-column>
                <mj-text font-size="26px">{% custom_text 'ST' %}</mj-text>
                <mj-text>{% custom_text 'EH' %}</mj-text>
            </mj-column>
        </mj-section>

        <mj-section background-color="#ebe7eb">
            <mj-column>
                <mj-text>
                    {% if has_recs %}
                        Here are our top show recommendations for you this week!
                    {% else %}
                        We don't have any specific show recommendations for you
                        this week, so we've included some random shows. Try adding
                        some more artists you like on your
                        <a href="{% email_url 'findshows:user_settings' %}">settings page</a>
                        for more personalized recommendations!
                    {% endif %}
                    Click a concert poster to view details and listen to previews,
                    or <a href='{{search_url}}' target="_blank">view them all on the website</a>.
                </mj-text>
            </mj-column>
        </mj-section>

        {% for concert in concerts %}
            {% if forloop.first %}
                <mj-section>
            {% elif forloop.counter0|divisibleby:3 %}
                </mj-section><mj-section>
            {% endif %}

            <mj-column vertical-align="middle" width="33%">
                <mj-image alt="{{concert}}" width="300px"
                          src="{% email_raw_url  concert.poster.url %}"
                          href="{% email_url 'findshows:view_concert' concert.pk %}"/>
            </mj-column>

            {% if forloop.last %}
                </mj-section>
            {% endif %}
        {% empty %}
            <mj-section>
                <mj-column>
                    <mj-text>
                        No shows listed for this week!
                    </mj-text>
                </mj-column>
            </mj-section>
        {% endfor %}

        <mj-section background-color="#ebe7eb">
            <mj-column>
                <mj-text>
                    To unsubscribe, please visit your
                    <a href="{% email_url 'findshows:user_settings' %}">settings page</a>
                    and uncheck the "Weekly Email" option.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
{% endmjml %}
