{% load mjml %}
{% load findshows_tags %}

{% mjml %}
<mjml>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-text>{% custom_text 'ST' %}</mj-text>
                <mj-text>{{header_message}}</mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-text>
                    {% if has_recs %}
                        Here are our top show recommendations for you this week!
                    {% else %}
                        We don't have any specific show recommendations for you
                        this week, so we've listed some random shows. Try adding
                        some more artists you like on your
                        <a href="{% email_url 'findshows:user_settings' %}">settings page</a>
                        for personalized recommendations!
                    {% endif %}
                    Click a concert poster to view details and listen to previews,
                    or <a href='{{search_url}}' target="_blank">view them all on the website</a>.
                </mj-text>

                {% for concert in concerts %}
                    <mj-image alt="{{concert}}" width="300px"
                              src="{% email_raw_url  concert.poster.url %}"
                              href="{% email_url 'findshows:view_concert' concert.pk %}"/>
                {% empty %}
                    <mj-text>
                        No shows listed for this week!
                    </mj-text>
                {% endfor %}
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-text>
                    To unsubscribe, please visit your
                    <a href="{% email_url 'findshows:user_settings' %}">settings page</a>
                    and uncheck the "Weekly Email" option.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
{% endmjml %}
