{% load static %}
{% load findshows_tags %}
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title> {% block subtitle %} {% endblock %} {% custom_text 'ST' %}</title>

        {# HTMX https://htmx.org/ #}
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        {# Alpine plugins (load BEFORE core)#}
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        {# Alpine core https://alpinejs.dev/ #}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
        {# Rough.js #}
        <script src="https://unpkg.com/roughjs@latest/bundled/rough.js"></script>
        {# Tailwind https://tailwindcss.com/docs/transition-property #}
        <link rel="stylesheet" href="{% static 'findshows/tailwind.css' %}">

        {# necessary for Alpine to use x-cloak #}
        <style>
         [x-cloak] {
             display: none;
         }
        </style>
    </head>
    <body>
        <div class="font-body font-stretch-90% flex flex-col min-h-screen bg-background">
            <div>
                {% include "./nav_bar.html" %}
            </div>
            <div class="flex-1">
                {% block content %}
                {% endblock %}
            </div>
            <div class="flex-shrink-0">
                {% include "./footer.html" %}
            </div>
        </div>
    </body>

    <script src='{% static "findshows/js/rough_classes.js" %}'></script>
    {# loading date picker here because it was doing weird shit when loaded by htmx #}
    <script src='{% static "findshows/js/date_picker_data.js" %}'></script>

</html>
