{% load findshows_tags %}

<div class="flex h-8 mt-2 px-3 justify-between">
    <div class="basis-0 sm:grow"></div>
    <div class="self-center
                text-left text-2xl font-stretch-[30%] font-thin
                sm:text-center sm:font-stretch-100% sm:font-extralight">
        <a href="{% url 'findshows:home' %}">{% custom_text 'ST' %}</a>
    </div>
    <div class="grow flex justify-end min-w-0">
        {% if user.is_authenticated %}
            {# Dropdown menu #}
            <div class=""
                 x-data="{'show_menu': false}">
                <svg class="clickable-svg h-8 p-1 stroke-3" {# h-full breaks on mobile #}
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                     @click="show_menu = true">
                    <line x1="0" y1="4" x2="24" y2="4" stroke="currentColor"/>
                    <line x1="0" y1="12" x2="24" y2="12" stroke="currentColor"/>
                    <line x1="0" y1="20" x2="24" y2="20" stroke="currentColor"/>
                </svg>
                <ul class="absolute right-2 top-10 popup-menu w-44 text-right"
                    x-show="show_menu"
                    @click.away="show_menu = false"
                    @keydown.escape.window="show_menu = false"
                >
                    {% if user.userprofile.managed_artists.all|length > 0 %}
                        <li class="even:bg-sub-background">
                            <a class="block link py-1 px-2" href="{% url 'findshows:my_concert_list' %}">My shows</a>
                        </li>
                        <li class="even:bg-sub-background"f>
                            <a class="block link py-1 px-2" href="{% url 'findshows:managed_artist_list' %}">Artist profile</a>
                        </li>
                    {% endif %}
                    {% if user.is_mod %}
                        <li class="even:bg-sub-background">
                            <a class="block link py-1 px-2" href="{% url 'findshows:mod_dashboard' %}">Mod dashboard</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="even:bg-sub-background">
                            <a class="block link py-1 px-2" href="{% url 'admin:index' %}">Admin site</a>
                        </li>
                    {% endif %}
                    <li class="even:bg-sub-background">
                        <a class="block link py-1 px-2" href="{% url 'findshows:user_settings' %}">Settings</a>
                    </li>
                    <li class="even:bg-sub-background">
                        <form id="logout-form" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="block link py-1 px-2 w-full h-full text-right" type="submit">Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
        {% else %}
            <a class="link h-fit" href="{% url 'login' %}">Log in</a>
        {% endif %}
    </div>
</div>

{% custom_text 'BR' as banner_text %}
{% if banner_text %}
    <div class="banner">
        {{ banner_text }}
    </div>
{% endif %}
