{% extends "localmusic/small_page.html" %}

{% block small_content %}

    <h1 class="text-center"> Log in </h1>

    {% if form.errors %}
        <p class="errorlist">Your email and password don't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="errorlist">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p class="errorlist">Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form class="flex flex-col w-full items-center" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="flex flex-col fieldgroup w-full max-w-md">
            <div><label for="{{form.username.auto_id}}">Email:</label></div>
            <div class="textinput-wrapper">{{ form.username }}</div>
        </div>
        <div class="flex flex-col fieldgroup w-full max-w-md">
            <div>{{ form.password.label_tag }}</div>
            <div class="textinput-wrapper">{{ form.password }}</div>
        </div>

        <input class="block btn w-40 m-2" type="submit" value="Log in">

        {% if next %}
            <a class="link text-sm m-1" href="{% url 'password_reset' %}?next={{ next | urlencode }}">Lost password?</a>
            <a class="link text-sm m-1" href="{% url 'create_account' %}?next={{ next | urlencode}}">Create account</a>
        {% else %}
            <a class="link text-sm m-1" href="{% url 'password_reset' %}">Lost password?</a>
            <a class="link text-sm m-1" href="{% url 'create_account' %}">Create account</a>
        {% endif %}

        <input type="hidden" name="next" value="{{ next }}">

    </form>

{% endblock %}
