{% extends "localmusic/small_page.html" %}

{% block small_content %}
  <h1 class="text-center">Reset Password</h1>
  <form class="flex flex-col items-center" action="" method="post">
    {% csrf_token %}
    <div class="fieldgroup max-w-md p-4" >
      Enter your email to reset your password:

      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
      <div class="textinput-wrapper">{{ form.email }}</div>
    </div>
    <input type="submit" class="btn m-2" value="Reset password">
  </form>
{% endblock %}
