{% extends "localmusic/base.html" %}
{% load findshows_tags %}
{% block content %}

    <h1> About </h1>

    <h2> {% custom_text 'ST' %} </h2>
    <p>
        {% custom_text 'AB' %}
    </p>

    <h2 class="mt-6"> The localmusic project </h2>
    <p>
        This website is an instance of the <a href="https://github.com/ruebeckscube/localmusic" target="_blank" >localmusic</a> project.
        It is free as in freedom, free as in beer, and open-source. For
        licensing information and instructions on setting up an instance for
        your city, visit the link above.
    </p>

{% endblock %}
