{% extends "localmusic/base.html" %}
{% load findshows_tags %}
{% block content %}
<div class="p-3">
    <h1> About </h1>

    <div class="fieldgroup">
        <h2> {% custom_text 'ST' %} </h2>
        <p class="m-4">
            {% custom_text 'AB' %}
        </p>
    </div>

    <div class="fieldgroup mt-6">
        <h2> The localmusic project </h2>
        <p class="m-4">
            This website is an instance of the
            <a class="link" target="_blank"
               href="https://github.com/ruebeckscube/localmusic">
                localmusic
            </a>
            project. We aim to make local music more discoverable and accessible,
            with minimal demands on your attention (one email a week! or on-demand on the website)
            and minimal dependence on the big social media platforms. You can discover shows on your
            own by sampling artists' music with one click, or use our recommendation
            system (always optional and user-controlled) powered by the open-source
            <a class="link" target="_blank"
               href="https://musicbrainz.org/">
                MusicBrainz
            </a>
            database.
        </p>
        <p class="m-4">
            Artists post their own shows and create their own profiles&mdash;if you're an artist
            looking to list your shows, request access via your
            <a class="link" target="_blank"
               href="{% url 'findshows:user_settings' %}">
                settings
            </a>
            page!
        </p>
        <p class="m-4">
            The project is free as in freedom, free as in beer for self-hosting, and open-source.
            Visit the
            <a class="link" target="_blank"
               href="https://github.com/ruebeckscube/localmusic">
                setup guide
            </a>
            for more information and instructions on setting up an instance for your city.
        </p>
    </div>
</div>
{% endblock %}
