{% extends "localmusic/base.html" %}
{% load findshows_tags %}
{% block content %}
<div class="p-3">
    <h1> About </h1>

    <div class="fieldgroup">
        <h2> {% custom_text 'ST' %} </h2>
        <p class="m-4">
            {% custom_text 'AB' %}
        </p>
    </div>

    <div class="fieldgroup mt-6">
        <h2> The localmusic project </h2>
        <p class="m-4">
            This website is an instance of the
            <a class="link" target="_blank"
               href="https://github.com/ruebeckscube/localmusic">
                localmusic
            </a>
            project.
            It is free as in freedom, free as in beer, and open-source. For
            licensing information and instructions on setting up an instance for
            your city, visit the link above.
        </p>
    </div>
</div>
{% endblock %}
