{% extends "localmusic/base.html" %}
{% load findshows_tags %}

{% block content %}
<div class="p-3"
     x-data="{selected_title: ''}" {# show_idx is 0 for nothing expanded, or the index of the expanded element (one at a time) #}
>
    <h1> Artist FAQ </h1>

    <h2 class="ml-2"> How do I&hellip; </h2>

    <div class="mx-4">
        {% accordion_element title="&hellip;create an artist profile/get access to post shows?" %}
        There are two ways! If you know somebody who already has artist access, they
        can invite you via their Settings page (or via the concert creation page if
        you have a show coming up together). If not, go to your
        <a class="link" href="{% url 'findshows:user_settings' %}">Settings</a> page
        and click <em>Request Artist Access</em>. Enter your artist name and some way for
        mods to contact you/verify that you are the artist you're claiming to be.
        {% endaccordion_element %}

        {% accordion_element title="&hellip;post a show?" %}
        Log in; from the menu, go to <a class="link" href="{% url 'findshows:my_concert_list' %}">My Shows</a>
        and click <em>Create new show listing</em>.
        {% endaccordion_element %}

        {% accordion_element title="&hellip;edit a show I'm a part of?" %}
        Only the user who initially created a show can edit it. Log in; from the menu, go to
        <a class="link" href="{% url 'findshows:my_concert_list' %}">My Shows</a>.
        If you created a show, it should have an <em>Edit</em> button next to it. If
        you just want to edit your artist info it appears on the concert listing,
        you can do that by editing your
        <a class="link" href="{% url 'findshows:managed_artist_list' %}">artist profile</a>.
        {% endaccordion_element %}

        {% accordion_element title="&hellip;delete/cancel a show I'm a part of?" %}
        Only the user who initially created a show can cancel it. Log in; from the menu, go to
        <a class="link" href="{% url 'findshows:my_concert_list' %}">My Shows</a>.
        If you created a show, it should have a <em>Cancel</em> button next to it. The concert's
        detail page will now display prominently the fact that it is cancelled, and it will no
        longer show up anywhere else (search, artist pages, emails). You cannot delete a show.
        {% endaccordion_element %}
    </div>

</div>
{% endblock %}
