{% extends "localmusic/base.html" %}

{% block content %}
    <div class="bg-purple-100 text-center my-2 py-2">
        <a href="{% url 'create_account' %}">Create an account</a> to save your search terms
        and get a weekly email of personalized show recommendations!
    </div>
<div class="flex w-full" x-data="{'show_end_date': {{ search_form.is_date_range.value|lower }} }">
    <div class="flex flex-col w-1/5 mr-2">
        <form method="GET" action="" id="search-form">
            {{ search_form.date.as_field_group }}
            <div x-show="show_end_date">
                {{ search_form.end_date.as_field_group }}
            </div>
            <div x-show="!show_end_date" @click="show_end_date=true" class="link-base text-xs">
                Date range
            </div>
            <div x-show="show_end_date" @click="show_end_date=false" class="link-base text-xs">
                Hide date range
            </div>
            <input type='hidden' :value='show_end_date' name='is_date_range'>
            {{ search_form.musicbrainz_artists.as_field_group }}
            {{ search_form.concert_tags.as_field_group }}

            <input class=""
                   type="button"
                   name="concert-search"
                   hx-get="{% url 'findshows:concert_search_results' %}"
                   hx-trigger="load,click"
                   hx-target="#concert-search-results"
                   hx-include="#search-form"
                   value="Search"
                   hx-on::after-request="update_url(event.detail.pathInfo, '{% url 'findshows:concert_search' %}')"
            >
        </form>
    </div>

    <div class="flex flex-col w-4/5" id="concert-search-results">
    </div>

</div>

<script>
 function update_url(pathInfo, baseURL) {
     query = pathInfo.finalRequestPath.slice(pathInfo.requestPath.length);
     window.history.pushState('', '', baseURL + query);
 }
</script>
{% endblock %}
