{% extends "localmusic/base.html" %}

{% block content %}
<div class="flex w-full">
    <div class="flex flex-col w-1/5 mr-2">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in search_form %}
                {{field.as_field_group}}
            {% endfor %}
            <input class=""
                   type="button"
                   name="concert-search"
                   hx-post="{% url 'findshows:concert_search_results' %}"
                   hx-trigger="load,click"
                   hx-target="#concert-search-results"
                   value="Search"
            >
        </form>
    </div>

    <div class="flex flex-col w-4/5" id="concert-search-results">
    </div>

</div>
{% endblock %}
