{% extends "localmusic/base.html" %}

{% block content %}
    <div class="flex flex-col justify-around align-middle text-center w-full h-full">
        <div class="text-4xl text-slate-700">
            Find a Show
        </div>
        <div>
            Enter a date and some artists you like to get started:
        </div>
        <form method="POST" action="{% url "findshows:concert_search" %}">
            <div class="flex justify-around w-full bg-gray-200">
                {% csrf_token %}
                {% for field in search_form %}
                    <div>
                    {{field.as_field_group}}
                    </div>
                {% endfor %}
            </div>
            <button class="" type="submit">Search</button>
        </form>
    </div>
{% endblock %}
