{% extends "localmusic/base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="banner">
            <a class="link" href="{% url 'create_account' %}">Create an account</a> to save your search terms
            and get a weekly email of personalized show recommendations!
        </div>
    {% elif not user.userprofile.email_is_verified %}
        {% include "findshows/htmx/email_verification_banner.html" %}
    {% endif %}

    <div hx-on::after-request="update_url(event.detail.pathInfo, '{% url 'findshows:concert_search' %}', '{% url 'findshows:home' %}')"
         x-init="$nextTick(() => {$dispatch('widget-update')})">
        {% include "findshows/htmx/concert_search.html" %}
    </div>

    <script>
     function update_url(pathInfo, expectedRequestPath, finalBasePath) {
         if (pathInfo.requestPath!==expectedRequestPath) return;

         params = new URLSearchParams(
             pathInfo.finalRequestPath.slice(pathInfo.requestPath.length)
         );
         params.delete('mb_search');
         if (params.get('is_date_range')!=='true') {
             params.delete('is_date_range');
             params.delete('end_date');
         }

         window.history.replaceState('', '', finalBasePath + '?' + params.toString());
     }
    </script>

{% endblock %}
