{% extends "localmusic/base.html" %}

{% block content %}

    <form method="post" action="{% url 'findshows:user_settings' %}">
        {% csrf_token %}

        {% for field in form %}
            {{ field.as_field_group }}
        {% endfor %}

        <div>
            <input type="submit" value="save">
        </div>

        {% if is_local_artist_account %}
            {% with title_text="Invite Artist" success_text="Invite sent successfully!" form_html="findshows/htmx/temp_artist_form.html" htmx_url="findshows:create_temp_artist" %}
                {% include "findshows/partials/modal_form.html" %}
            {% endwith %}
        {% endif %}

    </form>
{% endblock %}
