{% extends "localmusic/base.html" %}
{% load findshows_tags %}

{% block content %}
    {% if can_edit %}
        <a class="block btn mx-auto w-30 my-2" href={% url "findshows:edit_artist" artist.pk %}> Edit </a>
    {% endif %}
    <div class="flex max-md:flex-col w-full">
        {# Name and socials #}
        <div class="md:w-3/5 m-2 flex flex-col content-center justify-around bg-sub-background">
                <h1 class="text-[10vw] md:text-[8vw] text-center font-extralight mt-8 md:my-auto">
                    {{artist.name}}
                </h1>

                <div class="flex flex-row w-fit mx-auto self-end">
                    {% for link in artist.socials_links %}
                        <a class="link mx-4 my-3 md:my-8" href="{{link.1}}" target="_blank">{{link.0}}</a>
                    {% endfor %}
                </div>
        </div>
        {# Profile pic #}
        <div class="md:w-2/5">
            <div class="bg-sub-background m-2">
                {% if artist.profile_picture %}
                    <img class="w-full object-contain"
                         src="{{ artist.profile_picture.url }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="flex max-md:flex-col w-full">
        {# Preview players #}
        <div class="m-2 p-3 md:w-1/3 flex flex-col justify-around align-middle items-center bg-sub-background">
            {% preview_player artist %}
        </div>
        {# Bio and similar artists #}
        <div class="md:w-2/3 m-2 bg-sub-background">
            <p class="p-10 w-full max-w-[50em] mx-auto text-justify">
                {{artist.bio}}
            </p>
            <div class="flex flex-wrap justify-center items-center pb-4">
                <p> Sounds like: </p>
                {% for musicbrainz_artist in artist.similar_musicbrainz_artists.all %}
                    {% include "../partials/musicbrainz_card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

    {# Youtube #}
    <div class="flex max-md:flex-col justify-center items-center ">
        {% for youtube_id in artist.youtube_ids %}
            <iframe type="text/html" width="640" height="360"
                    class="w-full md:max-w-1/2 m-2 bg-sub-background p-2"
                    src="https://www.youtube.com/embed/{{ youtube_id }}?autoplay=0&origin=http://example.com"
                    frameborder="0"></iframe>
        {% endfor %}
    </div>

    {# Upcoming shows #}
    <div class="w-full">
        <h2 class="text-center w-2/3 min-w-30 my-4 p-2 mx-auto bg-sub-background"> Upcoming shows</h2>
        {% for concert in upcoming_concerts %}
            {% include "../partials/concert_card.html" %}
        {% empty %}
            <p class="text-center w-full">No upcoming shows listed!</p>
        {% endfor %}
    </div>
{% endblock %}
