{% extends "localmusic/small_page.html" %}

{% block small_content %}

    <h1 class="text-center"> Oops! </h1>

    <p class="p-2 text-center">
        HTTP error 500 (server error)
    </p><p class="p-2">
        Something went wrong on our end. Try waiting a few minutes and refreshing the page.
        If the error persists; please <a class="link" href={% url 'findshows:contact' %}>let us know</a>.
    </p><p class="p-2 text-center">
        <a class="link mx-5" href="javascript:history.back()">Go Back</a>
        <a class="link mx-5" href={% url 'findshows:home' %}>Go home</a>
    </p>

{% endblock %}
